<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Your Health</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="main-content">
        {{>menu}}
        <div class="holder">
            <div class="navbar">
                <div class="navbar__title">
                    <div class='asd'><h1>{{routeName}}</h1></div>
                </div>
            <div class="navbar__logo">
                <h1>Your Health <i class="fas fa-heartbeat"></i></h1>
            </div>
        </div>
        <main class='content'>
            <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Warsaw/time" style="text-decoration: none" class="clock24" id="tz24-1603656729-c1262-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIwIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I1Zjk1ZGMxOWRhMDdkIiwidHlwZSI6ImRiIiwibGFuZyI6ImVuIn0=" title="Warsaw Time" target="_blank" rel="nofollow">Current Time</a></p><div id="clock_block_cb5f95dc19da07d"></div></div>
            <h2>Your motivational quote :  "{{motivationQuoteText}}" ~ {{motivationQuoteAuthor}}</h2>
        </main>
        </div>
    </div>
    <button data-burger-menu class='burger-menu'><i class="fas fa-bars"></i></button>
    <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/navbarHandle.js"></script>
</body>
</html>