<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Your Health</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="main-content">
        {{>menu}}
        <div class="holder">
            <div class="navbar">
                <div class="navbar__title">
                    <div class='asd'><h1>{{routeName}}</h1></div>
                </div>
            <div class="navbar__logo">
                <h1>Your Health <i class="fas fa-heartbeat"></i></h1>
            </div>
        </div>
        <main class='content'>
            <h2>Twoje kroki przez ostatnie 24h to: {{steps24}} </h1>
            <div class='24chart chart'>
                <canvas id='step__24__chart'></canvas>    
            </div>
            <div class='7dchart chart'>
                <canvas id='step__7d__chart'></canvas>
            </div>
            <div class='30dchart chart'>
                <canvas id='step__30d__chart'></canvas>
            </div>
        </main>
    </div>
    <button data-burger-menu class='burger-menu'><i class="fas fa-bars"></i></button>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/js/steps.js"></script>
    <script src="/js/navbarHandle.js"></script>
</body>
</html>