
<nav class='navigation'>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard">Strona Główna <i class="fas fa-home"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/steps">Licznik Kroków <i class="fas fa-shoe-prints"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/sleep">Sen <i class="fas fa-bed"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/diet">Dieta <i class="fas fa-weight"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/workout">Trening <i class="fas fa-dumbbell"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/authors">Autorzy <i class="fas fa-user-friends"></i></a></div>
        <div class='navigation__user__info'>
            <div class='navigation__info'><h3>Name: {{name}} </h3></div>
            <div class='navigation__info'><h3>Email: {{email}}</h3></div>
            <div class='navigation__info'><img src="{{picture}}" alt="zdj"></div>
            <a href="/logout">Log Out</a>
        </div>
</nav>


