
<nav class='navigation'>
        <div class='navigation__logo'><h1>Your Health <i class="fas fa-heartbeat"></i></h1></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard">Dashboard <i class="fas fa-home"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/steps">Step Counter <i class="fas fa-shoe-prints"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/achievements">Your Achievments <i class="fas fa-trophy"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/diet">Diet <i class="fas fa-weight"></i></a></div>
        <div class='navigation__item'><a class='navigation__link' href="/dashboard/authors">Authors <i class="fas fa-user-friends"></i></a></div>
        <div class='navigation__user__info'>
            <div class='navigation__info'><h3>Name: {{name}} </h3></div>
            <div class='navigation__info'><h3>Email: {{email}}</h3></div>
            <div class='navigation__info'><img src="{{picture}}" alt="zdj"></div>
            <a href="/logout">Log Out</a>
        </div>
</nav>


